### Table of Contents

# 1. Import Data

## 1.1 Import the needed libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from datetime import date

%matplotlib inline
pd.set_option('display.max_columns', None)

from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import KNNImputer

## 1.2 Import a integrate data

In [2]:
df_crm = pd.read_csv('crm.csv')
df_mkt = pd.read_csv('mkt.csv')
df_sales = pd.read_excel('sales.xlsx')

In [3]:
df = pd.merge(pd.merge(df_crm,df_sales,on='CustomerID',how="inner"),df_mkt,on="CustomerID",how="inner")

## 1.3 Set Index

In [4]:
df.set_index('CustomerID',inplace = True)

## 1.4 Check and removing duplicates

In [5]:
df[df.duplicated()] # checking duplicates

,Name,Birthyear,Education,Marital_Status,Income,Kid_Younger6,Children_6to18,Date_Adherence,Recency,MntMeat&Fish,MntEntries,MntVegan&Vegetarian,MntDrinks,MntDesserts,MntAdditionalRequests,NumOfferPurchases,NumAppPurchases,NumTakeAwayPurchases,NumStorePurchases,NumAppVisitsMonth,Complain,Response_Cmp1,Response_Cmp2,Response_Cmp3,Response_Cmp4,Response_Cmp5
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,
32924,Mrs. Wanda Terry,1986,Graduation,Divorced,41264.0,1,1,2020-10-03 00:00:00,61.0,70.0,20,165.0,40.0,0.0,7.0,2,3,1,3,7,0,0,0,0,0,0
8276,Mrs. Mary Jackson,1968,HighSchool,Married,118238.0,0,0,2020-10-13 00:00:00,42.0,5940.0,1002,9465.0,1100.0,1100.0,32.0,1,6,7,8,2,0,0,0,0,0,0
32966,Mr. Steven Baker,1961,HighSchool,Married,84974.0,0,1,2022-02-17 00:00:00,56.0,2610.0,840,2160.0,840.0,960.0,133.0,3,6,5,9,3,0,0,0,0,0,0
5627,Mr. Jonathan Clark,1988,Graduation,Married,40975.0,1,0,2022-04-28 00:00:00,31.0,130.0,0,120.0,20.0,20.0,5.0,1,3,1,4,3,0,0,0,0,0,0
29357,Mr. Eric Springer,1972,PhD,Married,77778.0,0,1,2022-04-19 00:00:00,92.0,1240.0,60,315.0,20.0,20.0,33.0,1,5,2,4,6,0,0,1,0,0,0
26891,Mr. Sam Peake,1992,Graduation,Married,74147.0,1,0,2022-03-21 00:00:00,13.0,610.0,320,915.0,20.0,240.0,78.0,2,6,3,2,6,0,1,0,0,0,0
21269,Mr. Nathan Glover,1971,Graduation,Married,91241.0,0,1,2022-03-28 00:00:00,18.0,1780.0,220,2370.0,540.0,380.0,59.0,1,8,3,6,5,0,0,0,0,0,0
32777,Mr. Joe James,1967,Master,Married,101251.0,0,1,2021-12-30 00:00:00,26.0,7350.0,2780,4170.0,500.0,1760.0,66.0,2,8,8,6,3,0,1,0,0,0,0
26285,Mr. Oliver Sanderson,1986,Basic,Together,22345.0,1,0,2021-03-21 00:00:00,54.0,50.0,180,285.0,240.0,280.0,39.0,3,5,2,2,9,0,1,0,0,0,0
5540,Mr. Justin MacLeod,1995,Graduation,Together,44247.0,1,0,2021-03-08 00:00:00,51.0,1540.0,400,990.0,0.0,240.0,27.0,7,8,2,4,9,0,0,0,0,0,0
17069,Miss Zoe Underwood,1977,Graduation,Together,75226.0,1,1,2020-11-24 00:00:00,32.0,1320.0,280,390.0,180.0,100.0,28.0,5,7,2,3,8,0,0,0,0,0,0
12320,Mr. Christian Morrison,1985,Master,Married,39747.0,1,0,2021-04-06 00:00:00,64.0,120.0,0,195.0,20.0,0.0,10.0,1,3,1,3,7,0,0,0,0,0,0
24260,Mr. Dan Langdon,1993,Graduation,Single,116645.0,0,0,2021-05-18 00:00:00,64.0,3330.0,0,12225.0,1980.0,832.0,29.0,1,6,11,11,2,0,0,0,0,0,0
6470,Miss Diane White,1980,Graduation,Single,127255.0,0,0,2021-06-17 00:00:00,75.0,5760.0,2220,13950.0,2960.0,1860.0,74.0,1,5,3,13,1,0,0,0,0,0,0
10265,Mr. Max Martin,1988,HighSchool,Together,27838.0,1,0,2021-10-08 00:00:00,7.0,170.0,60,105.0,280.0,20.0,42.0,2,4,3,2,4,0,1,0,0,0,0
21767,Mrs. Jan Sharp,1977,Master,Married,54507.0,1,1,2020-10-27 00:00:00,94.0,280.0,40,135.0,20.0,20.0,8.0,2,4,1,3,7,0,0,0,0,0,0
15905,Mr. Charles James,1957,PhD,Together,95655.0,0,0,2020-09-04 00:00:00,3.0,8900.0,1260,4380.0,0.0,500.0,12.0,4,10,5,7,6,0,0,0,0,0,0
28688,Mr. Anthony Gibson,1976,Graduation,Together,77992.0,0,1,2020-12-29 00:00:00,43.0,5940.0,120,570.0,120.0,120.0,25.0,4,9,3,10,7,0,0,0,0,0,0
28739,Mr. Stephen Henderson,1970,Graduation,Married,81721.0,0,1,2021-07-21 00:00:00,78.0,2140.0,1700,2085.0,1160.0,740.0,16.0,4,7,3,10,5,0,0,0,0,0,0
25052,Mr. Piers Nolan,1977,Master,Divorced,57770.0,1,0,2021-07-23 00:00:00,12.0,700.0,60,1275.0,240.0,180.0,95.0,3,6,3,3,7,0,0,0,0,0,0
7586,Mr. Jason Powell,1985,Master,Married,98465.0,0,1,2021-04-25 00:00:00,39.0,3780.0,200,2205.0,100.0,100.0,38.0,3,9,3,8,6,0,0,0,0,0,0
32495,Miss Wanda Wallace,1962,Graduation,Together,8305.4,0,1,2022-03-21 00:00:00,30.0,479.0,10,123.0,10.0,34.0,17.1,0,1,1,0,20,0,1,0,0,0,0
19295,Mr. Justin Martin,1998,Graduation,Together,120028.0,0,0,2022-05-13 00:00:00,15.0,9370.0,1060,3000.0,800.0,2140.0,200.0,0,6,4,13,1,0,0,0,1,0,0
14942,Mr. Stewart North,1978,PhD,Together,135654.0,0,0,2021-05-02 00:00:00,71.0,9790.0,880,14025.0,440.0,488.0,22.0,1,9,6,12,3,0,0,1,1,1,0
20747,Mr. Luke Lambert,1988,PhD,Married,97456.0,0,0,2020-08-14 00:00:00,63.0,2540.0,1420,6705.0,2020.0,2840.0,20.0,1,5,5,8,1,0,0,0,0,0,0
12035,Mrs. Heather Hart,1985,Graduation,Married,127587.0,1,0,2021-09-30 00:00:00,73.0,6300.0,3200,3945.0,220.0,1600.0,45.0,1,6,6,8,5,0,0,1,0,1,0
8447,Mrs. Grace Davies,1967,Graduation,Married,116080.0,1,1,2022-04-24 00:00:00,33.0,2450.0,320,3345.0,320.0,860.0,16.0,2,10,2,8,6,0,0,0,0,0,0
25685,Mr. Austin Knox,1955,PhD,Widow,60675.0,1,1,2020-11-19 00:00:00,15.0,5020.0,0,645.0,0.0,0.0,27.0,9,10,3,7,9,0,0,0,0,0,0
28625,Mr. Frank Piper,1969,Basic,Married,30685.0,2,1,2021-12-25 00:00:00,35.0,60.0,120,120.0,180.0,180.0,18.0,3,4,2,3,6,0,0,0,0,0,0
28844,Mr. Neil Dowd,1981,Graduation,Married,93031.0,0,1,2022-06-29 00:00:00,43.0,6050.0,140,1275.0,140.0,140.0,7.0,1,10,3,10,4,0,0,1,0,0,0
30464,Miss Gabrielle Churchill,1960,Graduation,Together,99213.0,0,1,2021-05-02 00:00:00,9.0,2120.0,980,2700.0,1200.0,980.0,32.0,2,5,5,10,2,0,0,0,0,0,0

In [6]:
df = df[~df.duplicated()] # drop duplicates rows

# 2. Explore Data

## 2.0 Data profiling

Se não quiserem instalar a biblioteca não corram esta secção. Caso contrário o comando para instalar é pip install ydata-profiling. No final **apagar esta secção**

In [ ]:
from ydata_profiling import ProfileReport
profile= ProfileReport (df, title= "DSML_Project")

In [ ]:
profile.to_file('DSML_profile.html')

## 2.1 Basic Exploration

Q: _To check the number of columns and rows_ we used `shape` _attribute_

In [ ]:
df.shape

> A: _The dataset has **7000 rows** and **26 columns**_

__*Q*__: Check the name of the features of the dataset we used `columns` _attribute_

In [ ]:
df.columns

> A: The dataset has the following columns/features names: <br>
        >Index. CustomerID
        >1. 'Name' <br>
        >2. 'Birthyear'<br>
        >3. 'Education'<br>
        >4. 'Marital_Status'<br>
        >5. 'Income'<br>
        >6. 'Kid_Younger6'<br>
        >7. 'Children_6to18'<br>
        >8. 'Date_Adherence'<br>
        >9. 'Recency'<br>
        >10. 'MntMeat&Fish'<br>
        >11. 'MntEntries'<br>
        >12. 'MntVegan&Vegetarian'<br>
        >13. 'MntDrinks'<br>
        >14. 'MntDesserts'<br>
        >15. 'MntAdditionalRequests'<br>
        >16. 'NumOfferPurchases'<br>
        >17. 'NumAppPurchases'<br>
        >18. 'NumTakeAwayPurchases'<br>
        >19. 'NumStorePurchases'<br>
        >20. 'NumAppVisitsMonth'<br>
        >21. 'Complain'<br>
        >22. 'Response_Cmp1'<br>
        >23. 'Response_Cmp2'<br>
        >24. 'Response_Cmp3'<br>
        >25. 'Response_Cmp4'<br>
        >26. 'Response_Cmp5'<br>

Q: First glance of the dataset using `head` and `tail` methods to check the first and last 5 rows.

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

Q: To check the basic information of the dataset we've used the `info` method

In [ ]:
df.info()

>A: We can observe the data type of the dataset and the how many of features per data type  `dtypes: float64 - (7), int64 - (15), object - (4)`, the memory usage of `1.4+MB`, and the non-null values present per columns. <br>
> Using only `info` method we understand that `'Education', 'Recency', 'MntDrinks'` have __14, 23, 28 null values__ that require some action.

# 2.2 Statistical Exploration

## 2.2.1 Numerical Variables

In [ ]:
df.describe()

> _The describe return we can get a first glance and make some conclusion:_

>__Birthyear__ - could originate an Age column for readability purposes<br>
__Income__ - Min and Max are very far from each other and far from the mean value which could indicate outliers<br>
__Recency__ - 6977 valid values, hence we should look in deep and decide on how to minimize that effect of missing values<br>
__MntMeat&Fish__ - Min and Max are distant from each other and have high standard deviation which could effect some future conclusion<br>
__MntEntries__ - Again has high standard deviation that we should analyze, Min and Max far apart, similar to MntMeat&Fish<br>
__MntVegan&Vegetarian__ - Similar to the previous two Mnt columns<br>
__MntDrinks, MntDesserts__ - Seems to be very similar between them<br>
__MntAdditionalRequests__ - The max value standard deviation seems high and also the max value very far apart from the mean<br>
__NumOfferPurchases, NumTakeAwayPurchases, NumAppVisitsMonth__  - Have a max value to distante from the mean that could be true but we need to take into account<br>
__NumAppPurchases, SumStorePurchases__ - Seems does not have strange summary statistcs<br>
__Kid_Younger6, Children_6to18__ - 75% of clients have at least one child

**Q**: Skewness of each variable

In [ ]:
df.skew()

Concerning the variables' skewness, we can conclude the following:
- `Moderate skewness (between |0.5| and |1.0|)`: Birthyear, Income, Kid_Younger6, Children_6to18, Recency, NumAppPurchases, NumStorePurchases, NumAppVisitsMonth
- `High skewness (higher than |1.0|)`: MntMeat&Fish, MntEntries, MntVegan&Vegetarian, MntDrinks, MntDesserts, MntAdditionalRequests, NumOfferPurchases, NumTakeAwayPurchases, Complain, Response_Cmp1, Response_Cmp2, Response_Cmp3, Response_Cmp4, Response_Cmp5

In [ ]:
df.kurt()

Features with kurtosis higher than 3 could indicate presence of outliers, hence we should have special considerantion with the following features:
>MntEntries, MntVegan&Vegetarian, MntDrinks, MntDesserts, NumOfferPurchases, NumAppVisitsMonth

Note: Binomial Variables Complain, and Response_Cmp1 the kurtosis we will not consider as outliers

## 2.2.2 Categorical Values

In [ ]:
df.describe(include = object)

> We can conclude that the education as **14 missing** values

#### Level/Possible values of Categorical Features

### `Name` prefix unique values and count

In [ ]:
df['Name'].str.partition(" ")[0].value_counts()

With the prefix we can generate a `gender` feature to further explore the dataset. We will deal with that in the data transformation capther

#### **`Gender`** feature creation

In [ ]:
df["Gender"] = df['Name'].str.partition(" ")[0]
df = df.replace({"Gender":{"Mr.":"M","Miss":"F","Mrs.":"F"}})

### `Education` unique values and count

In [ ]:
df["Education"].value_counts()

We have some issues that will need trasformatioin:<br>
- Graduation, Master, HighSchool are written in different ways<br>
- `Basic` and `HighSchool` need different levels?

#### Education standardization

In [ ]:
df = df.replace({"Education":{"master":"Master", "graduation":"Graduation", "phd":"PhD","highschool":"HighSchool"}})

### `Marital_Status` unique values and count

In [ ]:
df["Marital_Status"].value_counts()

Similarly to previous feature we also have some issues that need transformation:<br>
- Married, Together, Single, Divorced and Widow are written with lower and capital letters
- We could also consider that Married and Together are similar and joined them in the same level<br>

#### Marital_Status standardization

In [ ]:
df = df.replace({"Marital_Status":{"married":"Married", "together":"Married", "single":"Single","widow":"Widow","divorced":"Divorced","Together":"Married"}})
df["Marital_Status"].value_counts()

`Date_Adherence` unqiue values and count

In [ ]:
df["Date_Adherence"].value_counts()

`Date_Adherence` is a date and will need transformation to a date format for further exploration

## 2.3 Visual Exploration

### 2.3.1 Numerical Variables

In [ ]:
df_corr = df.corr(method = 'spearman')
figure = plt.figure(figsize=(16,10))
sns.heatmap(df_corr, annot=True, fmt = '.1g', mask = np.triu(df_corr))

In [ ]:
fig, (ax1, ax2) = plt.subplots(1,2, figsize = (10,6))
sns.histplot(ax = ax1, data = df, x = 'Birthyear', color="c", bins= 5)
sns.histplot(ax = ax2, data = df, x = 'Birthyear', color="c")

- Birthyear at glance using 5 bins seems to follow a normally distribution shape, althought zooming in we can observe some heavy drops that we should explore further

In [ ]:
fig, (ax1, ax2, ax3) = plt.subplots(nrows = 1, ncols = 3, figsize=(10,6), sharex = True, sharey= True)
sns.countplot(ax = ax1, data = df, x = 'Kid_Younger6', color="y", alpha = 0.8)
sns.countplot(ax = ax2, data = df, x = 'Children_6to18', color="m", alpha = 0.5)
sns.countplot(ax = ax3, x = df["Kid_Younger6"]+df["Children_6to18"])
plt.xlabel("Total number of kids")

- Here we can see that the clients majority one child, having either one `Kid_Younger6` or one `Children_6to18` years of age

In [ ]:
sns.histplot(data = df['Recency'], color="k", alpha=0.3)

In [ ]:
sns.histplot(data = df['Income'], color="g", alpha=0.3)

- `Income` suggest normal distribution with possible some outliers around 220k of monetary units

#### Income vs Gender

In [ ]:
sns.stripplot(data = df, x = "Income", y = "Gender")

In [ ]:
fig, ((ax1, ax2),(ax3,ax4),(ax5,ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.histplot(ax = ax1, data = df, x = 'MntMeat&Fish', color="g")
sns.histplot(ax = ax2, data = df, x = 'MntVegan&Vegetarian', color="b")
sns.histplot(ax = ax3, data = df, x = 'MntEntries', color="r")
sns.histplot(ax = ax4, data = df, x = 'MntDrinks', color="y")
sns.histplot(ax = ax5, data = df, x = 'MntDesserts', color="w")
sns.histplot(ax = ax6, data = df, x = 'MntAdditionalRequests', color="m")

- `MntMeat&Fish` and `MntVegan&Vegatarian` are the categories where customers spend the most
- `MntVegan&Vegetarian` seems to have **outliers** above the 15000 price units
- All the `Mnt%` variables have a heavy concentration of values on the lower values of monetary units axis

#### Total Monetary Spend feature creation and display

In [ ]:
df["MntTotal"] = df['MntMeat&Fish'] + df['MntEntries'] + df['MntVegan&Vegetarian'] + df['MntDrinks'] + df['MntDesserts']
df["MntTotal"]
# em falta Mnt Add Requests

In [ ]:
sns.histplot(data = df, x = 'MntTotal', color="g")

In [ ]:
def scatterplot_list(data: pd.DataFrame, x: list, y: list, hue: str, marker_size: int = 50, figsize: tuple = (10, 6), rug: bool = False, ax: plt.Axes = None):
    if ax is None:
        num_subplots = len(y) * len(x)
        if num_subplots == 1:
            fig, axs = plt.subplots(1, 1, figsize=figsize)
            axs = [axs]
        else:
            num_rows = (num_subplots + 1) // 2
            num_cols = 2 if num_subplots > 1 else 1
            fig, axs = plt.subplots(num_rows, num_cols, figsize=(figsize[0]*num_cols, figsize[1]*num_rows))
            axs = axs.ravel()
    else:
        axs = ax

    for i, x_var in enumerate(x):
        for j, y_var in enumerate(y):
            idx = j * len(x) + i
            sns.scatterplot(data=data, x=x_var, y=y_var, hue=hue, s=marker_size, ax=axs[idx], palette='Dark2', label=hue)
            axs[idx].set_xlabel(x_var)
            axs[idx].set_ylabel(y_var)
            axs[idx].legend(loc='upper right')
            if rug:
                sns.rugplot(data=data, x=x_var, y=y_var, hue=hue, ax=axs[idx], alpha=0.5)

    plt.tight_layout()
    plt.show()

#### Scatter plot Monetary vs Income vs Gender

In [ ]:
scatterplot_list(data= df, x= ['Income'], y= ['MntTotal'], hue= 'Gender')

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, x = "Income", y = "MntMeat&Fish", hue = "Gender")
sns.scatterplot(ax = ax2, data = df, x = "Income", y = "MntVegan&Vegetarian", hue = "Gender")
sns.scatterplot(ax = ax3, data = df, x = "Income", y = "MntEntries", hue = "Gender")
sns.scatterplot(ax = ax4, data = df, x = "Income", y = "MntDrinks", hue = "Gender")
sns.scatterplot(ax = ax5, data = df, x = "Income", y = "MntDesserts", hue = "Gender")
sns.scatterplot(ax = ax6, data = df, x = "Income", y = "MntAdditionalRequests", hue = "Gender")

#### Scatter plot the Monetery vs Income vs "Total of Kids"

In [8]:
df["Total_Kids"] = df["Kid_Younger6"] + df["Children_6to18"]

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, x = "Income", y = "MntMeat&Fish", hue = "Total_Kids")
sns.scatterplot(ax = ax2, data = df, x = "Income", y = "MntVegan&Vegetarian", hue = "Total_Kids")
sns.scatterplot(ax = ax3, data = df, x = "Income", y = "MntEntries", hue = "Total_Kids")
sns.scatterplot(ax = ax4, data = df, x = "Income", y = "MntDrinks", hue = "Total_Kids")
sns.scatterplot(ax = ax5, data = df, x = "Income", y = "MntDesserts", hue = "Total_Kids")
sns.scatterplot(ax = ax6, data = df, x = "Income", y = "MntAdditionalRequests", hue = "Total_Kids")

- Here we conclude that customer with less kid spend more money in general accross all subcategories
- In the `MntVegan&Vegetarian`subcategory the higher spenders are clearly the one's with no children

#### Scatter plot the Monetery vs Income vs "Kid_Younger6"

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, x = "Income", y = "MntMeat&Fish", hue = "Kid_Younger6")
sns.scatterplot(ax = ax2, data = df, x = "Income", y = "MntVegan&Vegetarian", hue = "Kid_Younger6")
sns.scatterplot(ax = ax3, data = df, x = "Income", y = "MntEntries", hue = "Kid_Younger6")
sns.scatterplot(ax = ax4, data = df, x = "Income", y = "MntDrinks", hue = "Kid_Younger6")
sns.scatterplot(ax = ax5, data = df, x = "Income", y = "MntDesserts", hue = "Kid_Younger6")
sns.scatterplot(ax = ax6, data = df, x = "Income", y = "MntAdditionalRequests", hue = "Kid_Younger6")

- Here it's possible to conclude that the subgroup with kids under 6 years spend little money on both `Meat&Fish`and  `Vegan&Vegetarian` that could relate on the fact that younger kids have their own food

#### Scatter plot the Monetery vs Income vs "Children_6to18"

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, x = "Income", y = "MntMeat&Fish", hue = "Children_6to18")
sns.scatterplot(ax = ax2, data = df, x = "Income", y = "MntVegan&Vegetarian", hue = "Children_6to18")
sns.scatterplot(ax = ax3, data = df, x = "Income", y = "MntEntries", hue = "Children_6to18")
sns.scatterplot(ax = ax4, data = df, x = "Income", y = "MntDrinks", hue = "Children_6to18")
sns.scatterplot(ax = ax5, data = df, x = "Income", y = "MntDesserts", hue = "Children_6to18")
sns.scatterplot(ax = ax6, data = df, x = "Income", y = "MntAdditionalRequests", hue = "Children_6to18")

#### Kids boolean variable creation

In [9]:
df["has_Kids"] = df["Total_Kids"].apply(lambda x: 0 if x == 0 else 1)
df["has_Kids"]

CustomerID
14594    0
19070    0
29888    0
12221    1
21107    0
        ..
30686    0
17210    0
29186    1
23312    1
15581    0
Name: has_Kids, Length: 7000, dtype: int64

#### Income vs Total Monetary vs Kids (Y/N)

In [ ]:
sns.scatterplot(data = df, x = "Income", y = "MntTotal", hue = "Kids")

- From this scatterplot we can see that in general costumer without kids spend more money than the one's who have

Now let's try to understand in the behavior in the monetary subclasses

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, x = "Income", y = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, x = "Income", y = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, x = "Income", y = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, x = "Income", y = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, x = "Income", y = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, x = "Income", y = "MntAdditionalRequests", hue = "Kids")

#### Monetary vs Income vs Education

In [ ]:
sns.scatterplot(data = df, hue = "Education", x = "MntTotal", y = "Income")
sns.rugplot(data = df, hue = "Education", x = "MntTotal", y = "Income")

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, hue = "Education", x = "MntMeat&Fish", y = "Income")
sns.rugplot(ax = ax1, data = df, hue = "Education", x = "MntMeat&Fish", y = "Income")
sns.scatterplot(ax = ax2, data = df, hue = "Education", x = "MntVegan&Vegetarian", y = "Income")
sns.rugplot(ax = ax2, data = df, hue = "Education", x = "MntVegan&Vegetarian", y = "Income")
sns.scatterplot(ax = ax3, data = df, hue = "Education", x = "MntEntries", y = "Income")
sns.rugplot(ax = ax3, data = df, hue = "Education", x = "MntEntries", y = "Income")
sns.scatterplot(ax = ax4, data = df, hue = "Education", x = "MntDrinks", y = "Income")
sns.rugplot(ax = ax4, data = df, hue = "Education", x = "MntDrinks", y = "Income")
sns.scatterplot(ax= ax5, data = df, hue = "Education", x = "MntDesserts", y = "Income")
sns.rugplot(ax = ax5, data = df, hue = "Education", x = "MntDesserts", y = "Income")
sns.scatterplot(ax = ax6, data = df, hue = "Education", x = "MntAdditionalRequests", y = "Income")
sns.rugplot(ax = ax6, data = df, hue = "Education", x = "MntAdditionalRequests", y = "Income")

#### Monetary vs Education

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.stripplot(ax = ax1, data = df, y = "Education",  order = ["Basic", "HighSchool", "Graduation","Master","PhD"],  x = "MntMeat&Fish")
sns.stripplot(ax = ax2, data = df, y = "Education",  order = ["Basic", "HighSchool", "Graduation","Master","PhD"],  x = "MntVegan&Vegetarian")
sns.stripplot(ax = ax3, data = df, y = "Education",  order = ["Basic", "HighSchool", "Graduation","Master","PhD"],  x = "MntEntries")
sns.stripplot(ax = ax4, data = df, y = "Education",  order = ["Basic", "HighSchool", "Graduation","Master","PhD"],  x = "MntDrinks")
sns.stripplot(ax = ax5, data = df, y = "Education",  order = ["Basic", "HighSchool", "Graduation","Master","PhD"],  x = "MntDesserts")
sns.stripplot(ax = ax6, data = df, y = "Education",  order = ["Basic", "HighSchool", "Graduation","Master","PhD"],  x = "MntAdditionalRequests")

#### Marital_Status vs Monetary vs Kids

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "Marital_Status", x = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "Marital_Status", x = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "Marital_Status", x = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "Marital_Status", x = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "Marital_Status", x = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Marital_Status", x = "MntAdditionalRequests", hue = "Kids")

> No valuable information besides the perception that every `Marital_Status` have kids

#### Monetary vs Number of Purchases

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5,ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntTotal", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntTotal", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntTotal", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntTotal", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntTotal", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntTotal", hue = "Kids")

> **Info** Mnt Total
- NumberOfferPurchases: The customer who most use **Offers** have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used **Food Apps** less than 4 times spend much less money than the rest, and the costumers without kids tend to spend more
- NumTakeAway - Customer who ordered **take-away** less than 4 times spend much less money than the rest, and the customer without kids spend more money than the one's with kids.
- NumStorePurchases - Again, Customer who went the **store** less than 4 times spend much less money than the rest, and customer without kids tend to spend more
- NumAppVisitsMonth - The customers who have kids visit the restautant in **Food delivery apps** more often (monthly) than the one's without, nevetheless the one's without kids tend to spend more (Here you could try to understand the _**value per visit**_ to try to boost the usage of the app from nokids customer)

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntMeat&Fish", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntMeat&Fish", hue = "Kids")

> **Info** Meat&Fish
- NumberOfferPurchases: The customer who most use **Offers** have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used **Food Apps** less than 4 times spend much less money than the rest and the customer without kids tend to spend more
- NumTakeAway - Customer who ordered **take-away** less than 4 times spend much less money than the rest, and the customer without kids spend order more take-away more often
- NumStorePurchases - Again, Customer who went the **store** less than 4 times spend much less money than the rest
- NumAppVisitsMonth - The customers who have kids visit the restautant in **Food delivery apps** more often (monthly) than the one's without, nevetheless the one's without kids tend to spend more (Here you could try to understand the _**value per visit**_ to try to boost the usage of the app from no kids customer)

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntVegan&Vegetarian", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntVegan&Vegetarian", hue = "Kids")

> **Info** Mnt&Vegetarian
- NumberOfferPurchases: The customer who most use **Offers** have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used **Food Apps** less than 4 times spend much less money than the rest, customers without kids tend to spend more
- NumTakeAway - Customer who ordered **take-away** less than 4 times spend much less money than the rest, and the customer without kids spend more money than the one's with kids.
- NumStorePurchases - Again, Customer who went the **store** less than 4 times spend much less money than the rest, and customer without kids tend to spend more
- NumAppVisitsMonth - The customers whome have kids visit the restautant in **Food delivery apps** more often (monthly) than the one's without, nevetheless the one's without kids tend to spend more (Here you could try to understand the _**value per visit**_ to try to try to boost the usage of the app from nokids customer)

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntEntries", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntEntries", hue = "Kids")

> **Info** MntEntries
- NumberOfferPurchases: The customer who most use **Offers** have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used **Food Apps** less than 4 times spend much less money than the rest
- NumTakeAway - Customer who ordered **take-away** less than 3 times spend much less money than the rest, and the customer without kids spend more money than the one's with kids.
- NumStorePurchases - Customer who went the **store** less than 4 times spend much less money than the rest
- NumAppVisitsMonth - The customers whome have kids visit the restautant in **Food delivery apps** more often (monthly) than the one's without, nevetheless the one's without kids tend to spend more (Here you could try to understand the _**value per visit**_ to try to try to boost the usage of the app from nokids customer)

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntDrinks", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntDrinks", hue = "Kids")

**Info** MntDrinks
- NumberOfferPurchases: The customer who most use Offers have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used Food Apps less than 4 times spend much less money than the rest
- NumTakeAway - Customer who ordered take-away less than 3 times spend much less money than the rest, and the customer without kids spend more money and order more often than the one’s with kids.
- NumStorePurchases - Customer who went the store less than 4 times spend much less money than the rest
- NumAppVisitsMonth - The customers whome have kids visit the restautant in Food delivery apps more often (monthly) than the one’s without, nevetheless the one’s without kids tend to spend more (Here you could try to understand the value per visit to try to try to boost the usage of the app from nokids customer)

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntDesserts", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntDesserts", hue = "Kids")

**Info** MntDesserts
- NumberOfferPurchases: The customer who most use Offers have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used Food Apps less than 4 times spend much less money than the rest
- NumTakeAway - Customer who ordered take-away less than 3 times spend much less money than the rest, and the customer without kids spend more money and order more often than the one’s with kids.
- NumStorePurchases - Customer who went the store less than 4 times spend much less money than the rest
- NumAppVisitsMonth - The customers whome have kids visit the restautant in Food delivery apps more often (monthly) than the one’s without, nevetheless the one’s without kids tend to spend more (Here you could try to understand the value per visit to try to try to boost the usage of the app from nokids customer)

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "MntAdditionalRequests", hue = "Kids")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "MntAdditionalRequests", hue = "Kids")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "MntAdditionalRequests", hue = "Kids")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "MntAdditionalRequests", hue = "Kids")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "MntAdditionalRequests", hue = "Kids")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "MntAdditionalRequests", hue = "Kids")

**Info** MntAdditionaalRequests
- NumberOfferPurchases: The customer who most use Offers have kids, and that the majority of money spend is without offers
- NumAppPurchases: Customer who used Food Apps less than 4 times spend much less money than the rest, and customers with kids do it more often
- NumTakeAway - Customer who ordered take-away less than 3 times spend much less money than the rest, and the customer without kids spend more money and order more often than the one’s with kids.
- NumStorePurchases - Customer who went the store less than 4 times spend much less money than the rest
- NumAppVisitsMonth - The customers whome have kids visit the restautant in Food delivery apps more often (monthly) than the one’s without (Here you could try to understand the value per visit to try to try to boost the usage of the app from nokids customer)

### Number of Purchases visualization

In [ ]:
fig, ((ax1, ax2),(ax3,ax4),(ax5,ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.histplot(ax = ax1, data = df, x = 'NumOfferPurchases', color="g")
sns.histplot(ax = ax2, data = df, x = 'NumAppPurchases', color="b")
sns.histplot(ax = ax3, data = df, x = 'NumTakeAwayPurchases', color="r")
sns.histplot(ax = ax4, data = df, x = 'NumStorePurchases', color="y")
sns.histplot(ax = ax5, data = df, x = 'NumAppVisitsMonth', color="k")
sns.countplot(ax = ax6, data = df, x = 'Complain', color="c")

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.scatterplot(ax = ax1, data = df, y = "NumOfferPurchases", x = "Income", hue = "Gender")
sns.scatterplot(ax = ax2, data = df, y = "NumAppPurchases", x = "Income", hue = "Gender")
sns.scatterplot(ax = ax3, data = df, y = "NumTakeAwayPurchases", x = "Income", hue = "Gender")
sns.scatterplot(ax = ax4, data = df, y = "NumStorePurchases", x = "Income", hue = "Gender")
sns.scatterplot(ax = ax5, data = df, y = "NumAppVisitsMonth", x = "Income", hue = "Gender")
sns.scatterplot(ax = ax6, data = df, y = "Complain", x = "Income", hue = "Gender")

In [ ]:
fig, ((ax1, ax2), (ax3, ax4), (ax5, ax6)) = plt.subplots(3,2, figsize = (20,16))
sns.stripplot(ax = ax1, data = df, x = "NumOfferPurchases", y = "Marital_Status", hue = "Gender")
sns.stripplot(ax = ax2, data = df, x = "NumAppPurchases", y = "Marital_Status", hue = "Gender")
sns.stripplot(ax = ax3, data = df, x = "NumTakeAwayPurchases", y = "Marital_Status", hue = "Gender")
sns.stripplot(ax = ax4, data = df, x = "NumStorePurchases", y = "Marital_Status", hue = "Gender")
sns.stripplot(ax = ax5, data = df, x = "NumAppVisitsMonth", y = "Marital_Status", hue = "Gender")
sns.stripplot(ax = ax6, data = df, x = "Complain", y = "Marital_Status", hue = "Gender")

####

In [ ]:
df_long = pd.melt(df[['Response_Cmp1', 'Response_Cmp2','Response_Cmp3', 'Response_Cmp4', 'Response_Cmp5']])

In [ ]:
sns.countplot(data = df_long, y = 'variable', hue='value')

In [ ]:
df.head()

In [ ]:
# sns.stripplot(data = df, y = "Kids", x = "MntTotal", hue = "Response_Cmp1")

### 2.3.2 Categorical Variables

In [ ]:
df.describe(include = "object")

In [ ]:
sns.countplot(data = df, x = 'Education', order = ["Basic","HighSchool", "Graduation","Master","PhD"])

**Question** should we join basic and highschool into undergrate level?

In [ ]:
sns.countplot(data = df, x = 'Marital_Status')

**Question** should we reduce Together and Married into one level?

In [ ]:
sns.countplot(data = df, x = 'Gender')

In [ ]:
sns.stripplot(data = df, y = "Education",x = "Income")

In [ ]:
sns.stripplot(data = df, y = "Gender",x = "Income")

In [ ]:
sns.stripplot(data = df, y = "Gender",x = "MntTotal")

## 2.4. In-Depth Exploration

# 3. Preprocess Data

## 3.1. Data Cleaning

### 3.1.1. Outliers

- boxplot?

### 3.1.2. Missing Values

In [ ]:
df["Response_Cmp1"].isna().sum()

In [ ]:
df["Response_Cmp2"].isna().sum()

In [ ]:
df["Response_Cmp3"].isna().sum()

In [ ]:
df["Response_Cmp4"].isna().sum()

In [ ]:
df.info()

In [ ]:
df.isna().sum()

- **`Education`**, **`Recency`**, **`MntDrinks`** and **`MntTotal`** (due to dependancy of `MntDrinks`) have missing values

#### Filling the missing values

Fill `Education` with the mode

In [ ]:
df["Education"].fillna(df["Education"].mode()[0], inplace = True)

Fill `Recency` with the median value

In [ ]:
df["Recency"].fillna(df["Recency"].mean(), inplace = True)

In [ ]:
df.drop(columns = "MntTotal", inplace = True)

In [ ]:
df_mnt = df[[ 'MntMeat&Fish', 'MntEntries', 'MntVegan&Vegetarian', 'MntDrinks',
       'MntDesserts', 'MntAdditionalRequests']]

imputer = KNNImputer(n_neighbors=3)
array_impute = imputer.fit_transform(df_mnt)
df_mnt = pd.DataFrame(array_impute, columns = df_mnt.columns)

In [ ]:
df["MntDrinks"] = df_mnt["MntDrinks"].values

In [ ]:
df["MntTotal"] = df['MntMeat&Fish'] + df['MntEntries'] + df['MntVegan&Vegetarian'] + df['MntDrinks'] + df['MntDesserts']

In [ ]:
df.isna().sum()

## 3.2. Data Transformation

### 3.2.1. Create new Variables

### Utils

In [ ]:
def calculate_age(date_to_calc):
    return date.today().year - date_to_calc.year - ((date.today().month, date.today().day) < (date_to_calc.month, date_to_calc.day))

#### Creating Age variable from the Birthyear

In [ ]:
df['Age'] = df.Birthyear.apply(lambda x: date.today().year-x)

In [ ]:
#### Creating card adherence age variable from the Date adherence

In [ ]:
# We have only 30 rows with Date_Adherence 2/29/2022 is not a valid datetime, change to a day before? //TODO
df = df.replace({"2/29/2022":"2022-02-28"})
#convert from Object to Date
df['Date_Adherence'] = pd.to_datetime(df['Date_Adherence'], format='%Y-%m-%d').dt.date
#create new column and convert to ages
df['Card_Adherence_Age'] = df.Date_Adherence.apply(calculate_age)

### 3.2.2. Misclassifications

### 3.2.3. Incoherencies

### 3.2.4. Binning

### 3.2.5. Reclassification

### 3.2.6. Power Transform

## 3.3. Data Reduction

### 3.3.1. Multicollinearity - Check correlation

### 3.3.2. Unary Variables

### 3.3.3. Variables with a high percentage of missing values

## 3.2. Back to Data Transformation

### 3.2.7. Apply ordinal encoding and create Dummy variables

### 3.2.8. Scaling