
# Ideias

Name: passar a coluna name para M/F. **done**
Birthyear: bins das decadas?/idade?
Education: one hot para a educação/ passar para low, medium high? ? passar minusculas para maiusculas / meter o nan como o valor mais comum? Preencher com k neighbors?
Income: Ver se tem valores estranhos. Min max scaling ?
Kid_younger6: Ver se tem valores estranhos (floats ou negativos ou nan) / preencher nan com 0?
Children_6to18: Ver acima
Response_cmp1-4: ver se nao tem nada estranho
Date adherence: passar data de adesao para o tempo de adesao? datetime- date adherence
Recency: ver se não tem valores estranhos (negativos, floats)
Mnt???: ver acima, computar a soma de todos?
Num???Purchases: ver acima
NumAppVisits: ver se nao tem valores estranhos
Complain: ver acima

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np
from sklearn.preprocessing import LabelBinarizer
from category_encoders.count import CountEncoder

In [2]:
def model_metrics(y_true, y_pred, name, y_prob= (), prints= False, accuracy= False,
                  precision= False, f1= False, hamming_loss= False,
                  cohen_kappa= False, matthews_corr= False):
    '''Description: This function calculates the evaluation metrics of a machine learning model given the true labels (y_true) and predicted labels (y_pred). The function allows the user to specify which evaluation metrics to calculate and whether to print the results or not. The function returns a list of evaluation metrics, including accuracy, precision, F1 score, Hamming loss, Cohen's kappa score, Matthews correlation coefficient, and the name of the model.

    Parameters:
        y_true: array-like, true labels of the data;
        y_pred: array-like, predicted labels of the data;
        name: str, name of the machine learning model;
        y_prob: array-like, optional, default (), predicted probabilities of the data (only required for some evaluation metrics)
        prints: bool, optional, default False, whether to print the evaluation metrics or not
        accuracy: bool, optional, default False, whether to calculate accuracy or not
        precision: bool, optional, default False, whether to calculate precision or not
        f1: bool, optional, default False, whether to calculate F1 score or not
        hamming_loss: bool, optional, default False, whether to calculate Hamming loss or not
        cohen_kappa: bool, optional, default False, whether to calculate Cohen's kappa score or not
        matthews_corr: bool, optional, default False, whether to calculate Matthews correlation coefficient or not
    Returns: a list of evaluation metrics including accuracy, precision, F1 score, Hamming loss, Cohen's kappa score, Matthews correlation coefficient, and the name of the model.
    '''
    if accuracy:
        acc= skm.accuracy_score(y_true, y_pred)
    else:
        acc= 0
    if precision:
        prec= skm.precision_score(y_true, y_pred, average= 'weighted')
    else:
        prec= 0
    if f1:
        f1score= skm.f1_score(y_true, y_pred, average= 'weighted')
    else:
        f1score= 0
    if hamming_loss:
        h_loss= skm.hamming_loss(y_true, y_pred)
    else:
        h_loss= 0
    if cohen_kappa:
        ckappa= skm.cohen_kappa_score(y_true, y_pred)
    else:
        ckappa= 0
    if matthews_corr:
        mcc= skm.matthews_corrcoef(y_true, y_pred)
    else:
        mcc= 0
    if prints:
        if accuracy:
            print('The accuracy score is:', acc)
        if precision:
            print('The precision score is:', prec)
        if f1:
            print('The F1 score is:', f1score)
        if hamming_loss:
            print('The Hamming loss is:', h_loss)
        if cohen_kappa:
            print('Cohens kappa score is:', ckappa)
        if matthews_corr:
            print('Matthews Correlation Coefficient:', mcc)
    return [acc, prec, f1score, h_loss, ckappa, mcc, name]

In [3]:
def var_plot(x, y, n_fig, plot_type):
    pass

In [4]:
crm_df= pd.read_csv(r'crm.csv').sort_values(['CustomerID']).set_index(['CustomerID'])
mkt_df= pd.read_csv(r'mkt.csv').sort_values(['CustomerID']).set_index(['CustomerID'])
sales_df= pd.read_excel(r'sales.xlsx').sort_values(['CustomerID']).set_index(['CustomerID'])

In [5]:
df_join= crm_df.join(mkt_df)
df_join= df_join.join(sales_df)
df_join.head()

,Name,Birthyear,Education,Marital_Status,Income,Kid_Younger6,Children_6to18,Response_Cmp1,Response_Cmp2,Response_Cmp3,...,MntVegan&Vegetarian,MntDrinks,MntDesserts,MntAdditionalRequests,NumOfferPurchases,NumAppPurchases,NumTakeAwayPurchases,NumStorePurchases,NumAppVisitsMonth,Complain
CustomerID,,,,,,,,,,,,,,,,,,,,,
5078,Mr. Isaac Arnold,1969,Graduation,Together,99861.0,0,0,0,1,0,...,9240.0,2800.0,840.0,28.0,1,8,6,10,4,0
5081,Mr. Austin Abraham,1964,PhD,Divorced,124326.0,0,0,0,0,0,...,8760.0,1220.0,600.0,30.0,1,5,3,8,1,0
5084,Mrs. Bernadette Allan,1979,Master,Divorced,31179.0,1,0,1,0,0,...,150.0,0.0,200.0,27.0,3,4,3,2,7,0
5087,Mrs. Kylie Russell,1969,PhD,Divorced,102929.0,0,1,0,0,0,...,2520.0,1060.0,880.0,133.0,3,9,4,13,5,0
5090,Mr. Julian Arnold,1975,Master,Married,101038.0,0,1,0,0,0,...,4770.0,900.0,900.0,216.0,1,11,8,11,6,0

## Tratamento de dados

### Name
Passar o titulo para a variavel binaria 'Sex' Female: 0, Male: 1 **Done**
Ver se tem valores que não façam sentido

In [6]:
rege= '^(Mrs\.|Miss|Ms.)\s.+'
df_join['Sex'] = np.where(df_join.Name.str.match(rege), '0', '1') #Female= 0, Male= 1

In [7]:
df_join.Sex.head()

CustomerID
5078    1
5081    1
5084    0
5087    0
5090    1
Name: Sex, dtype: object

### Birthyear
Ver se há nans **done**
Converter para idade **done**

In [8]:
df_join.Birthyear.isna().sum()

0

In [9]:
from datetime import date
df_join['Age']= df_join.Birthyear.apply(lambda x: date.today().year-x)
df_join.drop('Birthyear', axis= 1, inplace= True)

In [ ]:
df_join.Sex.head()

### Education
Ver se tem valores não desejáveis **done**
Corrigir/Merge as rows com variações **done**
Preencher os Nan com a moda (?) **done**
Converter com count encoding (?) (A frequencia das classes é bastante diferente por isso nao faz sentido usar ordinal scaling)

In [13]:
df_join['Education'].unique()

array(['Graduation', 'PhD', 'Master', 'HighSchool', 'Basic', 'graduation',
       'master', nan, 'highschool', 'phd'], dtype=object)

In [14]:
edu_dict= {'graduation': 'Graduation', 'master': 'Master', 'phd': 'PhD', 'highschool': 'HighSchool'}
df_join.replace({'Education': edu_dict}, inplace= True)

In [15]:
df_join['Education'].fillna(df_join['Education'].mode()[0], inplace =True)

In [16]:
df_join['Education'].unique()

array(['Graduation', 'PhD', 'Master', 'HighSchool', 'Basic'], dtype=object)

In [17]:
df_join['Edu Count']= sk.ca

NameError: name 'sk' is not defined

## Marital Status
Converter minusculas para maiusculas **done**
One Hot (?) **done**

In [ ]:
df_join['Marital_Status'].unique()

In [ ]:
marital_dict= {'together': 'Together', 'divorced': 'Divorced', 'married': 'Married', 'single': 'Single', 'widow': 'Widow'}
df_join.replace({'Marital_Status': marital_dict}, inplace= True)

In [ ]:
df_join['Marital_Status'].unique()

In [ ]:
marital_status_df= pd.get_dummies(df_join.Marital_Status)
df_join= df_join.join(pd.DataFrame(marital_status_df)).drop('Marital_Status', axis= 1)

In [ ]:
df_join.head()

## Kid_younger6
Ver se tem valores estranhos (floats ou negativos ou nan) <br>
Preencher nan com 0? **N/A** <br>

In [45]:

kid_younger6_column = df_join['Kid_Younger6']
kid_younger6_lt_zero = df_join[kid_younger6_column< 0]
kid_younger6_is_nan = kid_younger6_column.isna().any()
kid_younger6_is_float = kid_younger6_column.dtype == float

print(kid_younger6_lt_zero) #false
print(kid_younger6_is_nan) #false
print(kid_younger6_is_float) #false

Empty DataFrame
Columns: [Name, Education, Marital_Status, Income, Kid_Younger6, Children_6to18, Response_Cmp1, Response_Cmp2, Response_Cmp3, Response_Cmp4, Response_Cmp5, Date_Adherence, Recency, MntMeat&Fish, MntEntries, MntVegan&Vegetarian, MntDrinks, MntDesserts, MntAdditionalRequests, NumOfferPurchases, NumAppPurchases, NumTakeAwayPurchases, NumStorePurchases, NumAppVisitsMonth, Complain, Sex, Age]
Index: []

[0 rows x 27 columns]
False
False

## Children_6to18
Ver se tem valores estranhos (floats ou negativos ou nan) **done** <br>
Preencher nan com 0? **N/A** <br>

In [46]:
children_6to18_column = df_join['Children_6to18']
children_6to18_lt_zero = df_join[children_6to18_column< 0]
children_6to18_is_nan = children_6to18_column.isna().any()
children_6to18_is_float = children_6to18_column.dtype == float

print(children_6to18_lt_zero) #false
print(children_6to18_is_nan) #false
print(children_6to18_is_float) #false

Empty DataFrame
Columns: [Name, Education, Marital_Status, Income, Kid_Younger6, Children_6to18, Response_Cmp1, Response_Cmp2, Response_Cmp3, Response_Cmp4, Response_Cmp5, Date_Adherence, Recency, MntMeat&Fish, MntEntries, MntVegan&Vegetarian, MntDrinks, MntDesserts, MntAdditionalRequests, NumOfferPurchases, NumAppPurchases, NumTakeAwayPurchases, NumStorePurchases, NumAppVisitsMonth, Complain, Sex, Age]
Index: []

[0 rows x 27 columns]
False
False